{
}

*{

}

body{
    background-color: yellow;
    height: 100%;
    width: 100%;
}

{
    
}

.link a{
    text-decoration: none;
    padding: 700px;
    padding-right: 70px;
}

{
}

{
}

{
}
